/* DESCRIZIONE PRODOTTO */

.scheda-prodotto-special .vc_tta-tabs-list {
		display: flex !important;
}

.scheda-prodotto-special .vc_tta-tab {
		width: 100%;
}

.scheda-prodotto-special .vc_tta-title-text {
		text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

.descrizione-prodotto-special hr{
    margin-top: 36px;
    margin-bottom: 36px;
}

.vc_tta-color-white.vc_tta-style-modern.vc_tta-tabs .vc_tta-panels {
		background-color: white;
}

.vc_tta-panel-body h2 {
		display: block!important;
    font-size: 36px;
    margin-bottom: 36px;
}

.vc_tta-panel-body h3 {
    font-size: 30px;
    margin-bottom: 18px;
}

.vc_tta-panel-body p {
		margin-bottom: 36px;
	  font-size: 18px;
    line-height: 30px;
}

.vc_tta-panel-body ul {
	  list-style: disc !important;
    margin-left: 24px;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 30px;
}

.vc_tta-panel-body li {
		margin-bottom: 12px;
}

tbody tr:last-of-type {
		border: none;
}



/* SCHEDA TECNICA AVANZATA */

.vc_tta-panel-body h2 {
		display: none;
}

.scheda-tecnica-avanzata-special th {
    width: 40% !important;
}



/* AKLUB */

.text-white {
    color: white;
}


.text-grey {
    color: #acacac;
}

.aklub-bg {
	background: #1a1b1c;
}

.dtwpb-woocommerce-product-description {
	color: black;
}



/* SCHEDA PRODOTTO GENERICA */

.ak-price {
	border-right: 1px solid #eaeaea;
}

.ak-notice {
		font-size: 12px;
    background-color: #fff8e5;
    border: 1px solid #ffc500;
    border-radius: 24px;
    padding: 12px 24px 12px 24px;
}

.single-product .woocommerce-product-details__short-description {
		border: none;
    padding-left: 0 !important;
}